<html>

<body>
    <h1>Account recovery request</h1>
        <p>Hello {{ .Name }},</p>
        <p>Here is your recovery link; you can use it to reset your password:</p>
        <p>
            <a href="{{ .Host }}/auth/recover?token={{ .Token }}">Reset your password</a>
        </p>
        <p>Cheers,<br />
            The Cosyll team</p>
</body>

</html>