{{ define "Error" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <title>Common Syllabi</title>

    <script type="module" crossorigin src="/assets/error.js"></script>
    <link rel="modulepreload" href="/assets/plugin-vue_export-helper.js">
    <link rel="modulepreload" href="/assets/Header.js">
    <link rel="stylesheet" href="/assets/plugin-vue_export-helper.css">
    <link rel="stylesheet" href="/assets/Header.css">
    <link rel="stylesheet" href="/assets/error.css">
</head>

<body>
    <div id="app">
        <p>{{ .msg }}</p>
    </div>
</body>

</html>
{{ end }}